-  name: Force Ansible to use Python 3.9
   ansible.builtin.set_fact:
     ansible_python_interpreter: /usr/bin/python3.9


-  name: Download and extract the prometheus content
   ansible.builtin.unarchive:
     src: https://github.com/prometheus/prometheus/releases/download/v{{ version }}/prometheus-{{ version }}.linux-amd64.tar.gz
     dest: /opt
     remote_src: yes
     owner: bin

-  name: Copy Backend service file
   ansible.builtin.template:
     src: prometheus.service
     dest: /etc/systemd/system/prometheus.service

-  name: Start prometheus service
   ansible.builtin.systemd_service:
     state: restarted
     daemon_reload: true
     name: prometheus
     enabled: yes